NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
MONGODB_URI=mongodb://localhost:27017/mylife_os
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
CORS_ORIGIN=http://localhost:5173
STORAGE_DRIVER=local
LOCAL_STORAGE_PATH=uploads
SEED_OWNER_EMAIL=cdmanh1108@gmail.com
SEED_OWNER_PASSWORD=@Manh11082004
